@import 'variables';
@import 'mixins';

body, html {
    font-family: 'Quicksand', sans-serif;
    height:100% ;
}
.container {
    max-width: 1420px;
}
a {
    text-decoration:none; 
    &:hover {
        text-decoration: none;

    }
}
.hover-box{
    transition: transform 250ms; 
    &:hover {
     transform: translateY(-10px);

    }
}
.line {
    span {
    height:80px ;
    width:2px ;
    background: $blue;
    margin:30px 0;
    }
}
.home {
    .port-header {
        background: url(/images/port.png) no-repeat top center;
        padding:250px 20px 100px 20px;
        h1 {
            font-size:80px; 
            text-align: center;
            color: $white; 
            font-weight: bold;
        }
    }
}
.carousel-caption {
    top:22%; 
    h1 {
        font-size: 80px;
        font-weight: bold;
    }
   span {
        font-size:80px;
        color: $blue;
        font-weight: bold;
    }
    p{
        font-size:22px;
    }
    .readmore {
        width:400px ;
        height: 74px;
        line-height:74px; 
        display: inline-block;
        background: $pink;
        color: $white;
        text-transform: uppercase;
        font-size: 22px;
        transition: transform 250ms;
        &:hover {
            transform: translateY(-10px);
        }
    }
}
.carousel-indicators {
bottom:120px;
right: 0px!important; 
 li {
    height:15px!important;
    width:15px!important ;
    border-radius:30px;
    border: 0px; 
}
}
.carousel-inner{
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        pointer-events: none;
        bottom: 0;
        left: 0;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-bottom: 150px solid white;
        border-left: 3000px solid transparent;
    }
    .circle-vr {
        background: $white;
        box-shadow: 0 0 5px #ccc;
        width:100px ;
        height:100px ;
        border-radius: 100px;
        position: absolute;
        display: inline-block;
        z-index: 999;
      @include flexbox-all-center;
      bottom:3px;
      left:50%; 
      transform: translateX(-50px); 
      img {
          border-radius:30px; 
      }
    }
}
.header {
    
    .cameracurrent {
        h1 {
            font-size: 60px;
            font-weight: bold;
        }
       span {
            font-size: 60px;
            color: $blue;
            font-weight: bold;
        }
        p{
            font-size:28px;
        }
    }
    .headerLine:after{
        content: "";
        position: absolute;
        z-index: 1;
        pointer-events: none;
        bottom: 0;
        left: 0;
        width: 100%;
        /* background: url(../images/sliderL.png) center center no-repeat; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-bottom: 150px solid white;
        border-left: 3000px solid transparent;
    }
}
  .aboutus {
      background: url(/images/aboutus.png) no-repeat top center;
      padding: 50px;
      min-height:800px; 
      @include flexbox-all-center;

     h1 {
        font-size: 45px;
        font-weight: bold;
    }
   span {
        font-size: 55px;
        color: $blue;
        font-weight: bold;
    }
   p {
        font-weight: 700;
        line-height:35px;
        font-size:23px;
        color:#000;  
    }
    p strong {
        font-weight: bold;
        font-size:40px; 
    }
    a.design {
        border: 2px solid #000000;
        background: $white;
        color: $black;
        width:400px ;
        height:74px ;
       @include flexbox-all-center;
       font-size:23px; 
       font-weight: bold;
       margin-right: 20px;
       transition: transform 250ms; 
       &:hover {
        transform: translateY(-10px);

       }

    }
    a.contact {
        border: 2px solid $pink;
        background: $pink;
        color: $white;
        width:400px ;
        height:74px ;
       @include flexbox-all-center;
       font-size:23px; 
       font-weight: bold;
       transition: transform 250ms; 
       &:hover {
        transform: translateY(-10px);

       }

    }

  }
  .specialsation {
      background:repeating-linear-gradient(90deg, #f0f0f0 0, #f0f0f0 5%, transparent 0, transparent 50%) 0 / 15px 15px, repeating-linear-gradient(180deg, #f0f0f0 0, #f0f0f0 5%, transparent 0, transparent 50%) 0 / 15px 15px;
      padding:130px 20px;
      h1 {
        font-size: 45px;
        font-weight: bold;
    }
   span {
        font-size: 55px;
        color: $blue;
        font-weight: bold;
    }
    .specialfour {
        h1 {
            font-size: 32px;
            font-weight: bold;
            margin:15px 0 ;
        }
        p {
            font-weight:600;
            line-height:24px;
            font-size:16px;
            color:#000;  
        }
    }
  }
.header-style {
    position: absolute;
    z-index: 99;
    padding:30px 0 0 0;
  
    #myNav {
        width:40% ;
        background: red;
    }
    a.info {
        border: 2px solid  $white;
        padding:15px 30px;
        color: $white!important;
        font-weight: bold;
        transition: transform 250ms;
        &:hover {
            transform: translateY(-10px);
        }
    }
    .ourdrive {
        background: $blue;
        padding:17px 30px;
        color: $white;
        font-size:17px;
        text-transform: uppercase;
        margin:0 20px ; 
        font-weight: bold;
        transition: transform 250ms;
        &:hover {
            transform: translateY(-10px);
        }

     }
     .menu-icon {
         font-size:30px;
         color: $white;
         cursor: pointer; 
         padding-right:30px ;
     }
   
}
  .counter {
    animation-duration: 1s;
    animation-delay: 0s;
  }
  .count {
      background: #11021F;
      padding:100px 0 ;
      text-align: center;
      margin:50px 0 50px 0;
  .shape-count {
    width:136px;
    height:136px ;
    background: $white;
    border-radius:100px;
    @include flexbox-all-center;
    &:hover {
        box-shadow:0 0 10px $white; 
    }
  }
  h3 {
      font-size:60px; 
      color: $white;
  }
  h4 {
    font-size:18px; 
    color: $white;
    margin-top:20px ;
}
&:after {
    content: "";
    z-index: 1;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 103px solid white;
    border-right:1902px solid transparent;
}
  
  }
  
  .designservice {
    background: url(/images/service.png) repeat top center;
    padding: 100px 20px;
    position: relative;
    // @include flexbox-all-center;
    h1 {
        font-size: 45px;
        font-weight: bold;
        color: $white;
    }
   span {
        font-size: 55px;
        color: $blue;
        font-weight: bold;
    }
    .box-service {
        background: $white;
        padding:00;
        margin-bottom:30px; 
        .shape {
            @include flexbox-all-center;
           
            span {
                background:$grey-ee;
                padding:20px ;
            @include flexbox-all-center;

            }
        }
        h1 {
            color: $black;
            font-size: 24px;
            padding:30px ;
        }
    }
    .circle-vr {
        background: $white;
        box-shadow: 0 0 5px #ccc;
        width:100px ;
        height:100px ;
        border-radius: 100px;
        position: absolute;
        display: inline-block;
        z-index: 999;
      @include flexbox-all-center;
      top:-60px;
      left:50%; 
      transform: translateX(-50px); 
      img {
          border-radius:30px; 
      }
    }
  }
.workflow {
    padding:50px 0;
    h1 {
        font-size: 45px;
        font-weight: bold;
    }
   span {
        font-size: 55px;
        color: $blue;
        font-weight: bold;
    }
    .workflow-box {
        background: $white;
        padding: 20px;
        margin-bottom:30px; 
        .shapework {
            @include flexbox-all-center;
            z-index: 99;
            span {
                background:$grey-ee;
                border-radius:100%;
                width:350px;
                height:350px; 
                @include flexbox-all-center;
                z-index: 99;

            }
        }
        h1 {
            color: $black;
            font-size: 24px;
            margin:0 0 20px 0;
            text-transform: uppercase;
        }
        .step {
            background: $pink;
            border-radius:40px;
            text-align: center;
            color:#ffffff;
            text-align: center; 
            display: inline-block;
            padding:10px 30px ;
            font-weight: bold;
            position: relative;
            top: -20px;
            font-size: 20px;
            z-index: 99;
            transition: transform 250ms;
            &:hover {
                transform: translateY(-10px);
            }
            
        }
    }
    .workflowlne {
        position: relative;
        top: 250px;
    z-index: 9;
    text-align: center;
    }
}
.weare {
    background: url(/images/weare.png) no-repeat top center;
    padding: 100px 20px;
    h1 {
        font-size:80px;
        font-weight: bold;
        color: $white;
    }
   span {
        font-size: 55px;
        color: $blue;
        font-weight: bold;
    }
    a.contactweare {
        border: 2px solid $pink;
        background: $pink;
        color: $white;
        height:74px ;
       @include flexbox-all-center-inline;
       font-size:30px; 
       font-weight: bold;
       transition: transform 250ms; 
       position: relative;
       bottom: -25px;
       padding:0 60px ;
       &:hover {
        transform: translateY(-10px);

       }
}
.wearenumber {
    background: $pink;
    color: $white;
}
}
.worldcontact {
    padding:50px 0 ;
    p {
        font-weight:600;
        line-height:24px;
        font-size:18px;
        color:$black;  
        padding:20px 0 ;
    }
    .worldmap {
        position: relative;
        .map-animation {          
            border-radius: 30px;
            background: $pink;
            animation: circle-pink 1.5s alternate infinite ease-in;
            position: absolute; 
            box-shadow:0 0 5px #ccc; 

        }
    .circle-pink1 {
       @extend .map-animation;
        top: 15%;
        left:60%;
        width:15PX ;
        height: 15PX;
      }
      
      @keyframes circle-pink {
        0%   {transform: scale(.8);}
        100% {transform: scale(1.5);}
      }
      .circle-pink2 {
        @extend .map-animation;
        top: 38%;
        left:70%;
        width:15px;
        height:15px;
      }
      .circle-pink3 {
        @extend .map-animation;
        top: 38%;
        left:50%;  
        width:15PX ;
        height: 15PX;
      
      }
      .circle-pink4 {
        @extend .map-animation;
        top: 37%;
        left:43%;    
        width:15px;
        height:15px;    
      }
    
      .circle-pink5 {
        @extend .map-animation;
        top: 25%;
        left:28%;
        width:15px ;
        height: 15px;
      }
      .circle-pink6 {
        @extend .map-animation;
        top: 37%;
        left:43%;
        width:15px;
        height:15px;
      
      }
      .circle-pink7 {
        @extend .map-animation;
        top: 51%;
        left:29%;    
        width:15px ;
        height: 15px;   
      }
      .circle-pink8 {
        @extend .map-animation;
        top: 25%;
        left:23%;
        width:15px ;
        height: 15px;
      }
      .circle-pink9 {
        @extend .map-animation;
        top: 31%;
        left:23%;
        width:15px ;
        height: 15px;
      }
      .circle-pink10 {
        @extend .map-animation;
        top: 31%;
        left:21%;
        width:15px ;
        height: 15px;
      }
      .circle-pink11 {
        @extend .map-animation;
        top: 28%;
        left:25%;
        width:15px ;
        height: 15px;
      }
      .circle-pink12 {
        @extend .map-animation;
        top: 18%;
        left:23%;
        width:15px ;
        height: 15px;
      }
      .circle-pink13 {
        @extend .map-animation;
        top:28%;
        left:66%;
        width:15px ;
        height: 15px;
      }
      .circle-pink14 {
        @extend .map-animation;
        top: 15%;
        left:48%;
        width:15px ;
        height: 15px;
      }
      .circle-pink15 {
        @extend .map-animation;
        top:18%;
        left:51%;
        width:15px ;
        height: 15px;
      }
      .circle-pink16 {
        @extend .map-animation;
        top:25%;
        left:51%;
        width:15px ;
        height: 15px;
      }
      .circle-pink17 {
        @extend .map-animation;
        top:20%;
        left:47%;
        width:15px ;
        height: 15px;
      }
      .circle-pink18 {
        @extend .map-animation;
        top:17%;
        left:45%;
        width:15px ;
        height: 15px;
      }
    }
}
.globalsupport {
    h1 {
        font-size: 45px;
        font-weight: bold;
    }
   span {
        font-size: 55px;
        color: $blue;
        font-weight: bold;
    }
    .support {
        padding:20px;
        h4 {
            font-size:16px;
            font-weight: bold; 
            padding:20px 0;;
        }
        img {
            transition: all 3s;
            &:hover {
                transform: rotate(1080deg);
            }
        }
    }
}
.shape {
    h1 {
        font-size: 45px;
        font-weight: bold;
    }
   span {
        font-size: 55px;
        color: $blue;
        font-weight: bold;
    }
    .shape-img {
        // background:$grey-f3;
        padding:20px ;
        min-width:240px;
        display: inline-block;
        align-items: center;
        height:180px ; 
        margin-bottom:20px; 
    }
    h3 {
        font-size: 30px;
        font-weight: bold;  
    }
    p {
        font-size: 16px;
        font-weight: bold;  
    }
   
}
.integration {
    margin:50px 0 ;
    h1 {
        font-size: 45px;
        font-weight: bold;
    }
   span {
        font-size: 55px;
        color: $blue;
        font-weight: bold;
    } 
    p {
        font-weight:600;
        line-height:24px;
        font-size:18px;
        color:$black;  
        padding:20px 0 ;
    }
    .int-area {
       
        [class*="col"] {
            padding:20px 0 ;
        }
        img {
            transition: transform 250ms;
            filter: grayscale(0);
            &:hover {
                transform: translateY(-10px);
                filter: grayscale(100);
            }
        }
        .int-sepration {
            [class*="col"] {
                border-bottom: 1px solid #ccc;
                border-left: 1px solid #ccc;
             
                &:first-child {
                    border-left:0px; 
                }
            }         
        }
        .border-bottom-zero {
            border-bottom: 0;
        }
    }
}
.contactform {
    background: url(/images/footerbg.png) repeat top center #000000;
    padding: 50px 20px; 
    h1 {
        font-size: 45px;
        font-weight: bold;
        color: $white;
    }
   span.getting {
        font-size: 55px;
        color: $blue;
        font-weight: bold;
    }
    .address-contact {
        ul {
            padding: 0;
            margin: 0;
            li {
                font-weight: bold;
                font-size:18px;
                color: $white;
                list-style: none; 
                margin:10px 0;
            }
        }
        .fa {
            font-size:35px;
            color: $white; 
            margin-top:10px ;
        }
        h4 {
            font-size: 22px;
            font-weight: bold;
            color: $white;
        }
        .social {
            li a .fa {
                padding:0 10px;
                transition: all 3s;
                &:hover {
                    transform: rotate(1080deg);
                }
            }
        }
      
    }
    .contact-form-section {
        background: $white;
        padding:50px 100px 100px 100px;
        label.label {
            font-weight: bold;
            color: $black;
            font-size:16px;
           }
           .btn-submit {
               background: $pink;
               width: 250px;
               height:76px;
                text-align: center;
                border-radius:0;
                float: right;
                color: $white;
                font-size: 20px;
                text-transform: uppercase; 
           }
        .inp-main {
            display: flex;
            align-items: center;
          
            input.form-control {
            border: 1px solid #BFBFBF;
            width:calc(100% - 25px);
            border-radius:0px; 
            padding:0 20px;
            height:66px ;
            font-weight: bold;
            color: $black;
            &:focus {
                border: 1px solid #0F93E2;
            }
            }
            .font .fa {
                font-size:20px; 
                color: $white;
                background:$blue;
                padding:20px;
                height:66px ;
            }
        }
        .form-group {
            width:100% ;
        }
        .sent-message {
            color: #088408;
            font-weight: bold;
        }
    }
    .footer {
        p {
            color: $white;
            font-size:16px; 
        }
        a {
            color: $white;
            font-size: 16px;
            margin:0 10px ;
        }
    }
}
/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: $pink;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    padding:0 50px ;
    .nav-menu {
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                .fa {
                    transition: all 3s;
                    &:hover {
                        transform: rotate(1080deg);
                        color: $blue;
                    }
                }
            }
        }
    }
  }
  
  .overlay a {
    padding:15px 8px;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    color: $white;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: $blue;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  .bg-port {
    background:repeating-linear-gradient(90deg, #f0f0f0 0, #f0f0f0 5%, transparent 0, transparent 50%) 0 / 15px 15px, repeating-linear-gradient(180deg, #f0f0f0 0, #f0f0f0 5%, transparent 0, transparent 50%) 0 / 15px 15px;
      .thumb {
        .img-thumbnail {
            border: 0;
            padding: 0 0 25px 0;
            background: none;
            border-radius: 0;
            transition: transform 250ms;
            &:hover {
                transform: translateY(-10px);
            }

            img {
                border-radius: 0px;
              
            }
        }
      }
  }
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
 

 

@media only screen and (max-width:768px) {
    .home {
        .port-header {
            background: url(/images/port.png) no-repeat top center;
            padding:250px 20px 20px 20px;
            h1 {
                font-size:40px; 
                text-align: center;
                color: $white; 
                font-weight: bold;
            }
        }
    }
    .world-map {
        max-width:100% ;
    }
    // .weare {
    //     a.contactweare {
    //         border: 2px solid $pink;
    //         background: $pink;
    //         color: $white;
    //         height:74px ;
    //        @include flexbox-all-center-inline;
    //        font-size:23px; 
    //        font-weight: bold;
    //        transition: transform 250ms; 
    //        position: relative;
    //        bottom: -30px;
    //        padding:0 60px ;
    //        &:hover {
    //         transform: translateY(-10px);
    
    //        }
    // }
 .contact-form-section {
     padding:20px 30px!important;
 }
    .carousel-inner{
       
        .circle-vr {
            background: $white;
            box-shadow: 0 0 5px #ccc;
            width:80px ;
            height:80px ;
            border-radius: 100px;
            position: absolute;
            display: inline-block;
            z-index: 999;
          @include flexbox-all-center;
          bottom:-15px;
          left:50%; 
          transform: translateX(-50px); 
          img {
              border-radius:30px; 
          }
        }
        .line {
            display: none!important;
        }
    }
    a.contact, a.design {
        width:100%!important;
        margin-top:20px ;
        font-size: 18px!important;
    }
    .logo {
        padding: 0;
        text-align: center;
      
    }
    .count:after {
        border-right:768px solid transparent;
    }
    .carousel-inner:after {
        border-right:768px solid transparent;
    }
    .carousel-caption {
        top:25%; 
        h1 {
            font-size: 40px;
            font-weight: bold;
        }
       span {
            font-size:40px;
            color: $blue;
            font-weight: bold;
        }
        p{
            font-size:22px;
        }
       
    }
 }
 @media only screen and (max-width: 600px) {
    .int-sepration {
        padding:20px 20px 0 20px ;
        [class*="col"] {
            border:none!important;
            margin: 0 0 10px 0;
            &:first-child {
            border:none!important;
            }
           
        }         
    }
  
    .home {
        .port-header {
            background: url(/images/port.png) no-repeat top center;
            padding:50px 20px 50px 20px;
            h1 {
                font-size:40px; 
                text-align: center;
                color: $white; 
                font-weight: bold;
            }
        }
    }
    .workflowlne {
        display: none;
    }
    .overlay-content {
        padding:0 20px ;
    }
    .overlay {
        width:180px;
        a {
            font-size: 14px;
        }
    }
    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
            text-align: center;
        }
        .menu-icon {
            text-align: center;
            padding-right: 0;
        }
        a.ourdrive {
            margin:20px 0; 
        }
    }
  .header-style {
      position: relative;
      background: #160828;
      padding-top:20px ;
  }
  .carousel-caption {
      top:25%; 
      h1 {
          font-size: 20px;
          font-weight: bold;
      }
     span {
          font-size:20px;
          color: $blue;
          font-weight: bold;
      }
      p{
          font-size:16px;
      }
     
  }
    .mobile-vr {
        display: none!important;
    }
  .aboutus {
      padding: 50px 20px 0 20px;
  }
  .count h3 {
      font-size:40px; 
  }
  .count:after {
      border-right:400px solid transparent;
  }
  .contact-form-section {
      padding:30px 30px 100px 30px!important;
  }
    .global-support {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .support {
        width:50%; 
    }
.world-map {
  max-width:100% ;
}
  .flex-mobile {
      display: flex;
      flex-direction: column;
}
a.contact, a.design {
    width:100%!important;
    margin-top:20px ;
    font-size: 20px!important;
}
.weare {
    padding:50px 20px;
    h1 {
        font-size:40px;
        font-weight: bold;
        color: $white;
    }
   span {
        font-size: 35px;
        color: $blue;
        font-weight: bold;
        margin-bottom:30px ;
    }
  a.contactweare {
      bottom: -10px;
      font-size: 25px;
      padding:0 30px ;

  }
}
}
